%%-*- mode: erlang -*-
{sub_dirs, ["rel", "fipes"]}.

{deps, [{cowboy        , ".*" , {git, "git://github.com/extend/cowboy.git", "master"}},
        {cowboy_static , ".*" , {git, "git://github.com/tOkeshu/cowboy_static.git", "tmp/fipes"}},
        {tnetstrings   , ".*" , {git, "git://github.com/tOkeshu/tnetstrings.git", "tmp/fipes"}}
       ]}.

