%%-*- mode: erlang -*-
{sub_dirs, ["rel", "fipes"]}.

{deps, [{cowboy      , ".*" , {git, "git://github.com/extend/cowboy.git", "master"}},
        {sendfile    , ".*" , {git, "git://github.com/tuncer/sendfile.git", "master"}},
        {mimetypes   , ".*" , {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
        {tnetstrings , ".*" , {git, "git://github.com/tOkeshu/tnetstrings.git", "tmp/fipes"}}
       ]}.

