%%-*- mode: erlang -*-
{sub_dirs, ["rel", "fipes"]}.

{deps, [{cowboy      , ".*" , {git, "git://github.com/extend/cowboy.git", {tag, "5525369a4a98ff57f157842106f4adbbe1514d1b"}}},
        {mimetypes   , ".*" , {git, "git://github.com/spawngrid/mimetypes.git", {tag, "2d3ef9b8077888bf9ed0e75918986794be6f7b64"}}},
        {tnetstrings , ".*" , {git, "git://github.com/tOkeshu/tnetstrings.git", "tmp/fipes"}}
       ]}.

