/* Fipes.css */

a {
  text-decoration: none;
}

body {
  background-color: #5d94c7;
  font-family: 'Ruluko', Helvetica;
}

#main {
  padding: 0;
  border-radius: 10px;
  margin: 0 auto;
  width: 600px;
}

/* Header */

#main > header {
  padding: 0 13px;
}

#main > header h1 {
  text-align: center;
}

/* Upload Widget */

.widget {
  padding: 20px 20px 15px;
  border: 1px solid #888888;
  border-radius: 10px;
  background-color: #ffffff;
}

.dropzone {
  border: 3px dashed #CCCCCC;
  border-radius: 10px;
  height: 94px;
  width: 520px;
  margin: 20px auto 15px;
  color: #888888;
}

.dropzone .placeholder {
  padding: 10px 0;
  margin-top: 23px;
  margin-left: 40px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  background: url('/static/images/picto-document.png') no-repeat 0px 4px transparent;
}

.upload {
  margin-bottom: 0;
  margin-left: 20px;
  padding-left: 16px;
  font-size: 14px;
  font-family: Helvetica;
  background: url('/static/images/picto-upload.png') no-repeat 0px 3px transparent;
}

.upload a {
  cursor: pointer;
  color: #4d84b7;
}

/* Files */

.files {
  width: 500px;
  margin: 0 auto;
}

.files ul {
  padding: 0;
}

.files ul li {
  list-style: none;
  clear: both;
}

.files header {
  height: 1em;
  margin-bottom: 1.5em;
}

.files h1 {
  font-size: 1em;
  margin: 0;
  float: left;
}

.files p {
  float: right;
  margin: 0;
}

/* Utils */

.hide {
  display: none;
}

