/* Fipes.css */

a {
  text-decoration: none;
}

body {
  background:  url('/static/images/background.png');
  color:       #ffffff;
  font-family: 'Ruluko', Helvetica;
}

#main {
  margin:        0 auto;
  width:         600px;
}

/* Header */

header {
  padding: 0 13px;
}

header h1 {
  background:   url('/static/images/logo.png') no-repeat 14px 14px transparent;
  box-shadow:   0 8px 10px -11px #072C4F;
  font-size:    64px;
  height:       65px;
  margin-left:  auto;
  margin-right: auto;
  padding-left: 40px;
  text-align:   center;
  text-shadow:  0 1px 1px #072c4f;
  width:        210px;
}

header h1 a {
  color: #ffffff;
}

/* Propaganda */

.propaganda {
  color:          #072c4f;
  font-size:      38px;
  margin:         auto;
  text-align:     center;
  text-shadow:    0 1px 2px #888888;
  text-transform: uppercase;
}

.propaganda em {
  font-style:  normal;
  font-weight: bold;
}

/* Upload Widget */

.widget {
  background-color: #ffffff;
  border-radius:    10px;
  border:           1px solid #888888;
  box-shadow:       0 0 5px #888888 inset;
  display:          block;
  margin-bottom:    20px;
  padding:          20px 20px 15px;
}

.dropzone {
  border-radius: 10px;
  border:        3px dashed #CCCCCC;
  color:         #888888;
  height:        94px;
  margin:        20px auto 15px;
  width:         520px;
}

.dropzone .placeholder {
  background:     url('/static/images/picto-document.png') no-repeat 0px 4px transparent;
  font-size:      28px;
  margin-left:    40px;
  margin-top:     23px;
  padding:        10px 0;
  text-align:     center;
  text-transform: uppercase;
}

.upload {
  margin-bottom: 0;
  margin-left:   20px;
  padding-left:  16px;
  font-size:     14px;
  font-family:   Helvetica;
  background:    url('/static/images/picto-upload.png') no-repeat 0px 3px transparent;
}

.upload a {
  color:  #4d84b7;
  cursor: pointer;
}

.upload a:hover {
  text-decoration: underline;
}

/* Files */

.files ul {
  padding: 0;
}

.files ul li {
  list-style:       none;
}

.files ul li > div {
  background-color: #65a2d1;
  position: relative;
  border-radius:    5px;
  border:           1px solid #366689;
  box-shadow:       0 0 1px #FFFFFF inset;
  clear:            both;
  font-family:      Helvetica;
  height:           70px;
  list-style:       none;
  margin-bottom:    10px;
  padding:          0px 10px 0px 45px;
}

.files ul li > div.loading {
  height:           40px;
}

.files img {
  position: absolute;
  left: 14px;
  top: 12px;
}

.files div.details {
  clear: both;
}

.files p.url {
  margin-left: -36px;
  border-top: 1px solid #366689;
}

.files p.url input {
  color: #000;
  width: 100%;
  border: 0;
  background-color: transparent;
  padding-top: 4px;
  font-family: monospace;
}

.files h1 {
  border-left:  1px solid #366689;
  float:        left;
  font-size:    16px;
  height:       30px;
  margin:       0;
  padding-left: 15px;
  padding-top:  10px;
}

.files a {
  color:       #072c4f;
  cursor:      pointer;
  text-shadow: 0 1px 1px #CCCCCC;
}

.files .size {
  border-left: 1px solid #366689;
  float:       right;
  font-size:   12px;
  margin:      12px 0;
  min-width:   70px;
  text-align:  right;
  text-shadow: 0 1px 1px #888888;
}

/* Footer */

footer {
  margin: 40px 0;
}

footer p {
  text-shadow: 0 1px 1px #888888;
  text-align:  center
}

footer p a {
  color:           #ffffff;
  text-decoration: underline;
}

/* Utils */

.hide {

  /*
    We do not use a display:none here because of Chromium.
    Indeed, Chromium does not allow to trigger a file input if it is
    not displayed. Thus we are forced to use this dirty hack.

    For more information see this thread:

      http://stackoverflow.com/questions/210643/in-javascript-can-i-make-a-click-event-fire-programmatically-for-a-file-input
    */
  visibility: hidden;
  position:   absolute;
}

