/* Fipes.css */

a {
  text-decoration: none;
}

body {
  background:  url('/static/images/background.png');
  color:       #ffffff;
  font-family: 'Ruluko', Helvetica;
}

#main {
  margin: 0 auto;
  width:  600px;
}

/* Header */

#main > header {
  padding: 0 13px;
}

#main > header h1 {
  background:   url('/static/images/logo.png') no-repeat 14px 14px transparent;
  box-shadow:   0 8px 10px -11px #072C4F;
  font-size:    64px;
  height:       65px;
  margin-left:  auto;
  margin-right: auto;
  padding-left: 40px;
  text-align:   center;
  text-shadow:  0 1px 1px #072c4f;
  width:        210px;
}

#main > header h1 a {
  color: #ffffff;
}

/* Propaganda */

.propaganda {
  color:          #072c4f;
  font-size:      38px;
  margin:         auto;
  text-align:     center;
  text-shadow:    0 1px 2px #888888;
  text-transform: uppercase;
}

.propaganda em {
  font-style:  normal;
  font-weight: bold;
}

/* Upload Widget */

.widget {
  background-color: #ffffff;
  border-radius:    10px;
  border:           1px solid #888888;
  box-shadow:       0 0 5px #888888 inset;
  display:          block;
  margin-bottom:    20px;
  padding:          20px 20px 15px;
}

.dropzone {
  border-radius: 10px;
  border:        3px dashed #CCCCCC;
  color:         #888888;
  height:        94px;
  margin:        20px auto 15px;
  width:         520px;
}

.dropzone.active {
  border: 3px dashed #3fd7a0;
}

.dropzone .placeholder {
  background:     url('/static/images/picto-document.png') no-repeat 0px 4px transparent;
  font-size:      28px;
  margin-left:    40px;
  margin-top:     23px;
  padding:        10px 0;
  text-align:     center;
  text-transform: uppercase;
}

.upload {
  margin-bottom: 0;
  margin-left:   20px;
  padding-left:  16px;
  font-size:     14px;
  font-family:   Helvetica;
  background:    url('/static/images/picto-upload.png') no-repeat 0px 3px transparent;
}

.upload a {
  color:  #4d84b7;
  cursor: pointer;
}

.upload a:hover {
  text-decoration: underline;
}

/* Files */

.files ul {
  padding: 0;
}

.files ul li {
  margin-bottom:    20px;
  list-style:       none;
}

.files ul li > header {
  background:       url('/static/images/picto-link.png') no-repeat 15px 12px #65a2d1;
  border-radius:    5px 5px 0px 0px;
  border:           1px solid #366689;
  box-shadow:       0 0 1px #FFFFFF inset;
  font-family:      Helvetica;
  height:           40px;
  padding:          0px 10px 0px 45px;
  clear:            both;
}

.files section.details {
  background-color: #e8eff4;
  border-radius:    0px 0px 5px 5px;
  border-right:     1px solid #366689;
  border-bottom:    1px solid #366689;
  border-left:      1px solid #366689;
  box-shadow:       0 0 5px #888888 inset;
  font-family:      Helvetica;
  padding:          10px;
  clear:            both;
}

.files p.url {
  margin:        auto;
  margin-bottom: 20px;
  width:         450px;
}

.files p.url input {
  color:            #000;
  width:            100%;
  border:           0;
  background-color: transparent;
  padding-top:      4px;
  font-family:      monospace;
}

.files h1 {
  border-left:  1px solid #366689;
  float:        left;
  font-size:    16px;
  height:       30px;
  margin:       0;
  padding-left: 15px;
  padding-top:  10px;
}

.files a {
  color:       #072c4f;
  cursor:      pointer;
  text-shadow: 0 1px 1px #CCCCCC;
}

.files .size {
  border-left: 1px solid #366689;
  float:       right;
  font-size:   12px;
  margin:      12px 0;
  min-width:   70px;
  text-align:  right;
  text-shadow: 0 1px 1px #888888;
}

.files .progress {
  background-color: #F7F7F7;
  border-radius:    10px 10px 10px 10px;
  box-shadow:       0 0 1px #888888 inset;
  height:           10px;
  width:            500px;
  margin-left:      auto;
  margin-right:     auto;
  margin-bottom:    18px;
  padding:          2px;
  overflow:         hidden;

  background-image: -webkit-linear-gradient(center top , #F5F5F5, #F9F9F9);
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F9F9F9);
  background-image: -ms-linear-gradient(center top , #F5F5F5, #F9F9F9);
  background-image: -o-linear-gradient(center top , #F5F5F5, #F9F9F9);
  background-image: linear-gradient(center top , #F5F5F5, #F9F9F9);
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.files .bar {
  background-color:   #62C462;
  background-size:    40px 40px;
  height:             10px;
  border-radius:      10px 10px 10px 10px;

  -webkit-animation:  progress-bar-stripes 2s linear 0s normal none infinite;
  -moz-animation:     progress-bar-stripes 2s linear 0s normal none infinite;
  -ms-animation:      progress-bar-stripes 2s linear 0s normal none infinite;
  -o-animation:       progress-bar-stripes 2s linear 0s normal none infinite;
  animation:          progress-bar-stripes 2s linear 0s normal none infinite;

  -webkit-transition: width 0.6s ease 0s;
  -moz-transition:    width 0.6s ease 0s;
  -ms-transition:     width 0.6s ease 0s;
  -o-transition:      width 0.6s ease 0s;
  transition:         width 0.6s ease 0s;

  background-image:   -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:   -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:   -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:   -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:   linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

}

/* Footer */

footer {
  margin: 40px 0;
}

footer .social {
  width: 200px;
  margin-left:  auto;
  margin-right: auto;
  padding: 0;
}

footer .social a {
  margin-right: 20px;
}

footer .links {
  text-shadow: 0 1px 1px #888888;
  text-align:  center
}

footer .links a {
  color:           #ffffff;
  text-decoration: underline;
}

/* Utils */

.hide {
  /*
    We do not use a display:none here because of Chromium.
    Indeed, Chromium does not allow to trigger a file input if it is
    not displayed. Thus we are forced to use this dirty hack.

    For more information see this thread:

      http://stackoverflow.com/questions/210643/in-javascript-can-i-make-a-click-event-fire-programmatically-for-a-file-input
    */
  visibility: hidden;
  position:   absolute;
}

