/* Fipes.css */

a {
  text-decoration: none;
}

body {
  background-color: #5d94c7;
  font-family: 'Ruluko', Helvetica;
  color: #ffffff;
}

#main {
  padding: 0;
  border-radius: 10px;
  margin: 0 auto;
  width: 600px;
}

/* Header */

#main > header {
  padding: 0 13px;
}

#main > header h1 {
  font-size: 64px;
  text-align: center;
  background: url('/static/images/logo.png') no-repeat 14px 14px transparent;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  width: 210px;
  box-shadow: 0 8px 10px -11px #072C4F;
  height: 65px;
  text-shadow: 0 1px 1px #072c4f;
}

/* Propaganda */

.propaganda {
  margin: auto;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 2px #888888;
  color: #072c4f;
}

.propaganda em {
  font-style: normal;
  font-weight: bold;
}

/* Upload Widget */

.widget {
  display: block;
  margin-bottom: 20px;
  padding: 20px 20px 15px;
  border: 1px solid #888888;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #888888 inset;
}

.dropzone {
  border: 3px dashed #CCCCCC;
  border-radius: 10px;
  height: 94px;
  width: 520px;
  margin: 20px auto 15px;
  color: #888888;
}

.dropzone .placeholder {
  padding: 10px 0;
  margin-top: 23px;
  margin-left: 40px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  background: url('/static/images/picto-document.png') no-repeat 0px 4px transparent;
}

.upload {
  margin-bottom: 0;
  margin-left: 20px;
  padding-left: 16px;
  font-size: 14px;
  font-family: Helvetica;
  background: url('/static/images/picto-upload.png') no-repeat 0px 3px transparent;
}

.upload a {
  cursor: pointer;
  color: #4d84b7;
}

.upload a:hover {
  text-decoration: underline;
}

/* Files */

.files ul {
  padding: 0;
}

.files ul li {
  height: 40px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 45px;
  border-radius: 5px;
  border: 1px solid #366689;
  box-shadow: 0 0 1px #FFFFFF inset;
  list-style: none;
  background: url('/static/images/picto-link.png') no-repeat 15px 12px transparent;
  background-color: #65a2d1;
  font-family: Helvetica;
  clear: both;
}

.files h1 {
  height: 30px;
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  border-left: 1px solid #366689;
  float: left;
  font-size: 1em;
}

.files a {
  color: #072c4f;
  text-shadow: 0 1px 1px #CCCCCC;
  cursor: pointer;
}

.files .size {
  min-width: 70px;
  margin: 12px 0;
  border-left: 1px solid #366689;
  float: right;
  font-size: 12px;
  text-align: right;
  text-shadow: 0 1px 1px #888888;
}

/* Footer */

footer {
  margin: 40px 0;
}

footer ul {
  width: 220px;
  height: 20px;
  margin: auto;
  padding: 0;
}

footer ul li {
  list-style: none;
  float: left;
  margin: 0 10px;
}

footer a {
  color: #ffffff;
  text-shadow: 0 1px 1px #888888;
}

footer a:hover {
  text-decoration: underline;
}

/* Utils */

.hide {
  display: none;
}

